


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: transparent;

  width: 100%;
  top: 0;
  color: white; 

  
}


.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #00d084;
}


.hero {
  height: 100vh;
  
  background-size: cover;
  background-position: center;
  position: relative;

}


.hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 8%;
  color: white;
}

.hero-content {
  max-width: 600px;
}

.welcome {
  color: #00d084;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 3rem;
  line-height: 1.3;
}

.hero-content h1 span {
  color: #00d084;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-primary {
  background: linear-gradient(90deg, #00d084, #00e6a3);
  border: none;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
}

.btn-secondary {
  background: white;
  color: black;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
  }
}

